.counterOrder {
    height: 40px;
    min-width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius);
    background-color: var(--button-bg-color);
    border: 1px solid var(--button-bg-color);
    color: var(--typography-secondary-color);
    font-weight: bold;
    .buttonCounter {
        height: 100%;
        border-radius: var(--border-radius);
        background-color: transparent;
        border: 0px solid transparent;
        cursor: pointer;
        color: var(--typography-secondary-color);
        padding: 0px 20px;
        &:hover {
            background-color: var(--color-accent);
            color: var(--color-light);
        }
    }
    .counter {
    }
}
