.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1274px;

    &__container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__location {
        margin: 0 50px;
    }
    
    &__btn-location {

    }

    &__btn-login {

    }
}