@import './../globals/media';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //width: 1274px;

    @include tablet {
        display: none;
    }

    &__container {
        display: flex;
        justify-content: flex-start;
        align-items: center;


    }

    &__location {
        margin: 0 50px;
    }
    
    &__find {
        
    }

    &__btn-location {

    }

    &__btn-login {

    }

    &__button-location {
        position: relative;

        & img {
            width: 16px;
            left: 10;
            top: 5;
            position: absolute;
        }
    }

    &-mobile {
        display: none;
        @include tablet {
            display: block;
        }
    }
}