body {
    @include fluid-text(18, 16);
    font-family: var(--font-family-base);
    font-weight: 500;
    line-height: 1.28;
    color: var(--color-dark);
    background-color: var(--color-light);
    margin: 0;
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4 {
    font-weight: 500;
    margin: 0;
}

h1 {
    @include fluid-text(60, 43);
}

h2 {
    @include fluid-text(30, 26);
}

h3 {
    @include fluid-text(20, 18);
}

h4 {
    @include fluid-text(60, 43);
}

ul {
    padding: 0px;
    margin: 0px;
}

li {
    list-style-type: none;
}

// Для поиска ошибок в верстке
// * {
//     outline: 4px solid green !important;
// }
// Для поиска ошибок в верстке