:root {
    --primary-font: MuseoSansCyrl500, -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, sans-serif;
    --primary-font-weight-regular: 500;
    --primary-font-family-regular: MuseoSansCyrl500, -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, sans-serif;
    --primary-font-weight-medium: 500;
    --primary-font-family-medium: MuseoSansCyrl700, -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, sans-serif;
    --title-font: MuseoSansCyrl700, -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, sans-serif;
    --title-font-weight-regular: 500;
    --title-font-weight-medium: 500;
    --menu-bar-item-desktop-font: MuseoSansCyrl700, -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, sans-serif;
    --menu-bar-item-desktop-font-medium: MuseoSansCyrl700, -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, sans-serif;
    --menu-bar-item-desktop-font-weight: 500;
    --menu-bar-item-active: #E13D48;
    --promocode-color: #E13D48;
    --city-desktop-font: ;
    --city-desktop-font-weight: 500;
    --city-desktop-font-weight-main: 500;
    --city-desktop-color: #E13D48;
    --primary-color: #E13D48;
    --primary-color-invert: #E13D48;
    --map-placemark-color: #E13D48;
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #FAFAFA;
    --bg-image: ;
    --edge-overflow-background-right: linear-gradient(to left, rgba(255, 255, 255, 0.98) 0%, rgba(255, 255, 255, 0.01) 100%);
    --edge-overflow-background-left: linear-gradient(to right, rgba(255, 255, 255, 0.98) 0%, rgba(255, 255, 255, 0.01) 100%);
    --edge-overflow-background-top: linear-gradient(to bottom, rgba(255, 255, 255, 0.98) 0%, rgba(255, 255, 255, 0.01) 100%);
    --edge-overflow-background-bottom: linear-gradient(to top, rgba(255, 255, 255, 0.98) 0%, rgba(255, 255, 255, 0.01) 100%);
    --card-bg-color: #FFFFFF;
    --card-border-color: #E2E2E8;
    --screen-edge-offset: 16px;
    --typography-primary-color: #203842;
    --typography-secondary-color: #5A6A70;
    --typography-primary-contrast-color: #fff;
    --typography-light-color: #8F9DA3;
    --button-primary-color: #fff;
    --button-primary-bg-color: #E13D48;
    --button-primary-hover-color: #C13740;
    --button-primary-ripple-color: #F3677B;
    --button-primary-border-color: #E13D48;
    --button-secondary-color: #E13D48;
    --button-secondary-bg-color: transparent;
    --button-secondary-hover-color: transparent;
    --button-secondary-ripple-color: transparent;
    --button-secondary-border-color: #E13D48;
    --button-tertiary-bg: #DEDEDE;
    --button-tertiary-color: #6F6F6F;
    --button-tertiary-border-color: #DEDEDE;
    --button-text-transform: uppercase;
    --button-bg-light-color: #ECECEC;
    --button-disabled-opacity: 0.3;
    --switch-bg-color: #F6F6F6;
    --switch-text-color: #203842;
    --switch-active-bg-color: #5A6A70;
    --switch-active-text-color: #FFFFFF;
    --switch-ordering-border-color: transparent;
    --switch-ordering-active-color: #fff;
    --header-bg-color: #FFFFFF;
    --header-color: #203842;
    --header-secondary-color: #8F9DA3;
    --header-edge-overflow-background-right: linear-gradient(to left, rgba(255, 255, 255, 0.98) 20%, rgba(255, 255, 255, 0) 80%);
    --header-edge-overflow-background-left: linear-gradient(to right, rgba(255, 255, 255, 0.98) 20%, rgba(255, 255, 255, 0) 80%);
    --header-mobile-height: 46px;
    --product-card-desktop-view-side-bg-color: #FFFFFF;
    --product-card-desktop-actions-side-bg-color: #FAFAFA;
    --product-card-mobile-footer-bg-color: #FFFFFF;
    --product-card-topping-color: #203842;
    --product-card-topping-selected-stroke-color: #E13D48;
    --product-card-topping-font-size-desktop: 1.2rem;
    --product-card-structure-trigger-border-radius: 5px;
    --product-card-container-offset: 16px;
    --product-card-text-color: #203842;
    --product-card-text-secondary-color: #5A6A70;
    --product-card-bg-color: #FFFFFF;
    --product-card-switch-font-size: 1.2rem;
    --product-card-add-btn-font-weight-desktop: 500;
    --product-card-add-btn-font-family-desktop: MuseoSansCyrl500, -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, sans-serif;
    --subscription-contrast-color: #E13D48;
    --gift-scale-bg-color: #FFFFFF;
    --gift-scale-goal-font-size-desktop: 1.6rem;
    --gift-scale-btn-active-color: #fff;
    --footer-color: #FFFFFF;
    --footer-lighten-color: #93809F;
    --footer-bg-color: #26033F;
    --footer-mobile-divider-color: #93809F;
    --social-button-bg-color: #93809F;
    --social-border-radius: 5px;
    --scrollbar-bg-color: #E2E2E8;
    --scrollbar-track-bg-color: #fff;
    --highlight-bg-color: #f3677c69;
    --highlight-text-color: #203842;
    --divider-base-color: #E2E2E8;
    --cancel-timer-color: #E13D48;
    --notification-bg-color: rgba(32, 56, 66, 0.9);
    --bottom-sheet-swipe-icon-color: #FFFFFF;
    --bottom-sheet-swipe-bg-color: transparent;
    --product-list-item-divider-color: #E2E2E8;
    --product-list-item-price-font-size-mobile: 1.4rem;
    --product-list-item-price-font-size-desktop: 2rem;
    --product-list-item-name-font-size-desktop: 2rem;
    --product-list-item-name-font-family: MuseoSansCyrl700, -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, sans-serif;
    --product-list-item-description-font-size-desktop: 1.6rem;
    --product-list-item-description-line-height-mobile: 16px;
    --product-list-item-description-line-height-desktop: 19px;
    --product-list-item-title-font-size-desktop: 2.4rem;
    --product-list-item-title-font-weight: 500;
    --product-list-item-title-line-height-desktop: 1;
    --product-list-item-title-line-height-mobile: 1;
    --product-list-item-color: inherit;
    --product-list-item-desktop-color: inherit;
    --product-list-item-secondary-color: #5A6A70;
    --product-list-item-bg-color: transparent;
    --product-list-item-button-color: #E13D48;
    --product-list-item-section-title-offset: 0;
    --product-list-item-section-title-max-lines: 4;
    --product-list-item-category-margin-bottom-desktop: 0;
    --product-list-item-category-margin-bottom-mobile: -0px;
    --menu-bar-inactive-link-bg-mobile: #EBEBEB;
    --menu-bar-inactive-link-color-mobile: #8F9DA3;
    --menu-bar-inactive-link-font-weight-mobile: 500;
    --menu-bar-link-border-color-mobile: transparent;
    --menu-bar-active-link-bg-mobile: #E13D48;
    --menu-bar-active-link-color-mobile: #FFFFFF;
    --menu-bar-active-link-font-weight-mobile: 500;
    --menu-bar-link-font-size-desktop: 1.4rem;
    --menu-bar-filter-border-color: transparent;
    --menu-bar-link-text-transform: none;
    --menu-bar-sticky-offset-top: -1px;
    --blur-bg: rgba(32, 56, 66, 0.9);
    --overlay-bg: rgba(32, 56, 66, 0.75);
    --rsbs-backdrop-bg: rgba(32, 56, 66, 0.75);
    --promotion-window-content-bg-color: #FDFDFD;
    --promotion-window-title-font-size-desktop: 2rem;
    --promotion-window-content-font-size-desktop: 1.4rem;
    --cart-widget-bg-color: #E13D48;
    --cart-widget-text-color: #fff;
    --order-status-processing-color: #0193FC;
    --order-status-accepted-color: #8352D3;
    --order-status-cocking-color: #D37152;
    --order-status-transit-color: #00AF54;
    --order-status-ready-color: #00AF54;
    --order-status-default-color: #8F8F8F;
    --control-border-color: #E2E2E8;
    --control-bg-color: #fff;
    --control-placeholder-color: #abadba;
    --listing-bg-color: #FFFFFF;
    --listing-color: #203842;
    --cart-page-position-bg-color: #FFFFFF;
    --app-button-min-height: 32px;
    --app-button-font-family: MuseoSansCyrl700, -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, sans-serif;
    --app-button-font-weight: 500;
    --to-cart-font-size: 1.6rem;
    --list-hover-bg-color: #ECECEC;
    --inner-header-height: 100px;
    --main-container-size: 1280px;
    --product-list-gap: 24px;
    --product-list-template: repeat(4, 1fr);

    --container-width: 1160px;
    --container-padding-x: 10px;

    --section-padding-y: 80px;
    --section-mobile-padding-y: 40px;

    --border-radius: 20px;
    
    --transition-duration: 0.2s;
}