:root {
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-gray-dark: #203842;
    --color-gray: #bcc3c6;
    --color-dark-gray: #5a6a70;
    --color-footer-gray: #93809f;
    --color-light-gray: #bcc3c6;
    --color-violet: #26033f;

    --typography-primary-color: #203842;
    --typography-secondary-color: #5a6a70;

    --button-text-color: #abadba;
    --button-bg-color: #e2e2e9;

    --color-bg-alt: #fafafa;

    --color-accent: #e13d48;

    --font-family-base: "MuseoSansCyrl", "sans-serif";

    --box-shadow: 0 0 20px 2px rgb(0 0 0 / 9%);

    --container-width: 1160px;
    --container-padding-x: 10px;

    --section-padding-y: 80px;
    --section-mobile-padding-y: 40px;

    --border-radius: 20px;
    --border-radius-medium: 10px;
    --border-radius-small: 5px;

    --transition-duration: 0.2s;
}
