:root {

    --color-light: #FFFFFF;
    --color-dark: #000000;
    --color-gray-dark: #203842;
    --color-gray: #BCC3C6;
    --color-dark-gray: #5A6A70;
    --color-light-gray: #BCC3C6;
    
    --color-footer-gray: #93809F;
    --color-violet: #26033F;

    --color-bg-alt: #FAFAFA;

    --color-accent: #E13D48;

    --font-family-base: 'MuseoSansCyrl', 'sans-serif';

    --border-radius: 20px;
    --border-radius: 20px;

    --box-shadow: 0 0 20px 2px rgb(0 0 0 / 9%);

    --container-width: 1160px;
    --container-padding-x: 10px;

    --section-padding-y: 80px;
    --section-mobile-padding-y: 40px;

    --border-radius: 20px;
    --border-radius-medium: 10px;
    --border-radius-small: 5px;
    
    --transition-duration: 0.2s;
}