@charset "UTF-8";
@font-face {
  font-family: "MuseoSansCyrl";
  src: url("./../../fonts/MuseoSansCyrl-100.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MuseoSansCyrl";
  src: url("./../../fonts/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MuseoSansCyrl";
  src: url("./../../fonts/MuseoSansCyrl-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MuseoSansCyrl";
  src: url("./../../fonts/MuseoSansCyrl-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MuseoSansCyrl";
  src: url("./../../fonts/MuseoSansCyrl-900.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.category {
  display: flex;
  justify-content: space-between;
  height: 64px;
  width: 100%;
  overflow-x: hidden;
}
@media (max-width: 1023px) {
  .category {
    /* Убираем фокус с активных элементов после клика */
    /* Для ссылок и кнопок при потере фокуса */
    width: 100%;
    padding: 0;
  }
  .category *:focus {
    outline: none; /* Убираем обводку, если не нужна */
  }
  .category a:active, .category button:active, .category input:active, .category select:active {
    outline: none;
    box-shadow: none; /* Убираем возможные тени */
  }
  .category a, .category button {
    outline: none;
    box-shadow: none;
  }
}
.category__mainContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 20px;
}
.category__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.category__list {
  border-right: 1px solid var(--color-gray);
  width: 670px;
}
@media (max-width: 1280px) {
  .category__list {
    width: 54%;
  }
}
@media (max-width: 1023px) {
  .category__list {
    /* Убираем фокус с активных элементов после клика */
    /* Для ссылок и кнопок при потере фокуса */
    width: 80%;
  }
  .category__list *:focus {
    outline: none; /* Убираем обводку, если не нужна */
  }
  .category__list a:active, .category__list button:active, .category__list input:active, .category__list select:active {
    outline: none;
    box-shadow: none; /* Убираем возможные тени */
  }
  .category__list a, .category__list button {
    outline: none;
    box-shadow: none;
  }
}
@media (max-width: 767px) {
  .category__list {
    width: 70%;
  }
}
.category__list ul {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-right: 15px;
  gap: 10px;
}
.category__list ul::-webkit-scrollbar {
  display: none;
}
.category__list ul li {
  white-space: nowrap;
  font-size: 14px;
}
.category__list ul li.active {
  color: var(--color-accent);
}
@media (max-width: 1023px) {
  .category__list ul li.active {
    /* Убираем фокус с активных элементов после клика */
    /* Для ссылок и кнопок при потере фокуса */
    color: var(--color-light);
  }
  .category__list ul li.active *:focus {
    outline: none; /* Убираем обводку, если не нужна */
  }
  .category__list ul li.active a:active, .category__list ul li.active button:active, .category__list ul li.active input:active, .category__list ul li.active select:active {
    outline: none;
    box-shadow: none; /* Убираем возможные тени */
  }
  .category__list ul li.active a, .category__list ul li.active button {
    outline: none;
    box-shadow: none;
  }
}
@media (max-width: 1023px) {
  .category__list ul li {
    /* Убираем фокус с активных элементов после клика */
    /* Для ссылок и кнопок при потере фокуса */
    padding: 10px;
    background-color: var(--color-light-gray);
    color: var(--color-text-light-gray);
    border-radius: 50px;
    border: none;
  }
  .category__list ul li *:focus {
    outline: none; /* Убираем обводку, если не нужна */
  }
  .category__list ul li a:active, .category__list ul li button:active, .category__list ul li input:active, .category__list ul li select:active {
    outline: none;
    box-shadow: none; /* Убираем возможные тени */
  }
  .category__list ul li a, .category__list ul li button {
    outline: none;
    box-shadow: none;
  }
  .category__list ul li.active {
    color: var(--color-light);
    background-color: var(--color-accent);
  }
}
.category__options {
  display: flex;
  gap: 20px;
  padding-right: 20px;
  font-size: 14px;
}
@media (max-width: 1023px) {
  .category__options {
    /* Убираем фокус с активных элементов после клика */
    /* Для ссылок и кнопок при потере фокуса */
    display: none;
    visibility: hidden;
  }
  .category__options *:focus {
    outline: none; /* Убираем обводку, если не нужна */
  }
  .category__options a:active, .category__options button:active, .category__options input:active, .category__options select:active {
    outline: none;
    box-shadow: none; /* Убираем возможные тени */
  }
  .category__options a, .category__options button {
    outline: none;
    box-shadow: none;
  }
}
.category__line {
  border-right: 1px solid var(--color-gray);
}
.category__delivery {
  padding-left: 10px;
  font-size: 14px;
}
.category__delivery h4 {
  white-space: nowrap;
}
.category__language {
  display: flex;
}
.category__language h4 {
  white-space: nowrap;
}
.category__filters {
  display: flex;
  gap: 5px;
}
@media (max-width: 1023px) {
  .category__filters {
    /* Убираем фокус с активных элементов после клика */
    /* Для ссылок и кнопок при потере фокуса */
    justify-content: space-evenly;
  }
  .category__filters *:focus {
    outline: none; /* Убираем обводку, если не нужна */
  }
  .category__filters a:active, .category__filters button:active, .category__filters input:active, .category__filters select:active {
    outline: none;
    box-shadow: none; /* Убираем возможные тени */
  }
  .category__filters a, .category__filters button {
    outline: none;
    box-shadow: none;
  }
}
.category__filters img {
  object-fit: cover;
}
.category__popoverContent {
  display: flex;
  flex-direction: column;
  background-color: var(--color-light);
  border-radius: var(--border-radius);
  padding: 20px;
  box-shadow: var(--box-shadow);
  max-height: 400px;
  overflow: auto;
}
.category__popoverContent img:first-child {
  border-radius: var(--border-radius-small);
}
.category__order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  border-bottom: var(--color-gray) solid 1px;
  padding: 20px 0px;
  height: 120px;
  width: 100%;
}
.category__topContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  align-items: start;
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.category__topContainer > div {
  width: 35px;
  height: 30px;
  min-width: 100px;
}
.category__topContainer div:last-child > button {
  padding: 0px 14px;
}
.category__botContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.category__botContainer > image {
  width: 24px;
  height: 24px;
}
.category__botContainer > button {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category__totalPrice {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 20px 10px;
}

.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*# sourceMappingURL=styles.module.css.map */
