.cart {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__content {
        width: 626px;
        display: flex;
        flex-direction: column;
        padding: 40px 0px;
    }

    &__title {
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0px;

        & img {
            border-radius: var(--border-radius-small);
        }
    }

    &__price {
        width: 80px;
    }

    &__text {
        width: 200px;
        & h3 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.orderDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 40px;

    & h2 {
        display: flex;
        justify-content: end;
    }

    &__buttonConainer {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
    }

    & button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 60px;
        font-size: 18px;
    }
}

.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
