.card {
    width: 262px;
    border-radius: var(--border-radius-medium);
    //box-shadow: var(--box-shadow);

    &__image {
        border-radius: var(--border-radius-medium);
    }

    &__content {
        padding: 10px;
    }

    &__title {

    }

    &__weight {
        font-size: 14px;
        color: var(--color-dark-gray);
    }

    &__description {
        height: 100px;
        width: 100%;
        margin-bottom: 10px;
        overflow: hidden; /* Скрываем избыточный текст */
        display: -webkit-box; /* Используем для управления блоками */
        -webkit-line-clamp: 5; /* Количество строк до обрезания */
        -webkit-box-orient: vertical; /* Определяем ориентацию боксов */
        text-overflow: ellipsis; /* Добавляем многоточие */
        color: var(--color-dark-gray);
    }
    
    &__option {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__price {

    }
}