@import "../../app/styles/globals/media";

.section {
    display: flex;
    justify-content: center;

    &Footer {
        background-color: var(--color-violet);
        color: var(--color-footer-gray);
    }
}

.wrapper {
    width: var(--container-width);

    @include desktop {
        width: 80%;
    }

    @include tablet {
        width: 80%;
    }

    @include mobile {
        width: 100%;
    }
}
