@charset "UTF-8";
.text-red {
    color: var(--color-accent);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    position: relative;
    width: 100%;
}
@media (max-width: 1023px) {
    .header {
        /* Убираем фокус с активных элементов после клика */
        /* Для ссылок и кнопок при потере фокуса */
        display: none;
    }
    .header *:focus {
        outline: none; /* Убираем обводку, если не нужна */
    }
    .header a:active,
    .header button:active,
    .header input:active,
    .header select:active {
        outline: none;
        box-shadow: none; /* Убираем возможные тени */
    }
    .header a,
    .header button {
        outline: none;
        box-shadow: none;
    }
}
.header__location {
    margin: 0 50px;
    font-size: 16px;
}
@media (max-width: 1280px) {
    .header__location {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        height: 50px;
        width: 180px;
        font-size: 14px;
    }
}
.header__buttonLocation {
    position: relative;
}
.header__buttonLocation img {
    width: 16px;
    left: 10px;
    top: 5px;
    position: absolute;
}
.headerMobile {
    display: none;
    width: 100%;
    padding: 16px 0px;
}
@media (max-width: 1023px) {
    .headerMobile {
        /* Убираем фокус с активных элементов после клика */
        /* Для ссылок и кнопок при потере фокуса */
        display: block;
    }
    .headerMobile *:focus {
        outline: none; /* Убираем обводку, если не нужна */
    }
    .headerMobile a:active,
    .headerMobile button:active,
    .headerMobile input:active,
    .headerMobile select:active {
        outline: none;
        box-shadow: none; /* Убираем возможные тени */
    }
    .headerMobile a,
    .headerMobile button {
        outline: none;
        box-shadow: none;
    }
}
.headerMobile__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.headerMobile__container > .headerMobile__burgerMenu,
.headerMobile__container > .buttonLogin {
    margin-right: 8px;
}
.headerMobile__container > :nth-child(3) {
    margin-left: auto;
    margin-right: auto;
}
.headerMobile__container > :last-child {
    margin-left: auto;
}
.headerMobile__buttonLogin {
    position: absolute;
    left: 40px;
}
.headerMobile__burgerMenu {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    width: 24px;
    height: 24px;
}
.headerMobile__burgerMenu::before,
.headerMobile__burgerMenu::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: var(--color-dark);
    transition: all 0.3s ease 0s;
}
.headerMobile__burgerMenu::before {
    top: 4px;
}
.headerMobile__burgerMenu::after {
    bottom: 4px;
}
.headerMobile__burgerMenu.active span {
    transform: scale(0);
}
.headerMobile__burgerMenu.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}
.headerMobile__burgerMenu.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}
.headerMobile__burgerMenu span {
    height: 2px;
    width: 100%;
    transform: scale(1);
    background: var(--color-dark);
}
.headerMobile__closeBtn {
    margin-left: 20px;
    margin-top: 20px;
}
.headerMobile__navMenu {
    position: fixed;
    width: 85vw;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--color-bg-alt);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.07);
    z-index: 50;
    transition: transform 0.3s ease-in-out; /* Плавный переход */
    transform: translateX(0); /* Начальная трансформация */
}
@media (max-width: 767px) {
    .headerMobile__navMenu {
        width: 100vw;
    }
}
.headerMobile__navMenu.hidden {
    transform: translateX(-100%); /* Выезд внутрь экрана */
}
.headerMobile__menuBox {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 50;
    gap: 10px;
}
.headerMobile__menuBox li {
    display: flex;
    align-items: center;
    background: var(--color-light);
    z-index: 50;
    padding: 15px 10px;
    color: var(--color-dark);
    border-radius: var(--border-radius-small);
}
.headerMobile__menuBox li img {
    object-fit: contain;
    padding-right: 10px;
}
@media (max-width: 767px) {
    .headerMobile__menuBox li img {
        width: 30px;
        height: 30px;
    }
}
.headerMobile__overlay {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 0;
    background-color: var(--color-dark);
    opacity: 0.7;
    transition:
        opacity 0.3s ease-in-out,
        visibility 0.3s ease-in-out;
}
.headerMobile__overlay.hidden {
    opacity: 0;
    visibility: hidden;
}

/*# sourceMappingURL=styles.module.css.map */
