@import "../../app/styles/globals/media";
@import "../../app/styles/globals/text-red";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    position: relative;
    width: 100%;

    @include tablet {
        display: none;
    }

    &__location {
        margin: 0 50px;
        font-size: 16px;

        @include desktop {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            height: 50px;
            width: 180px;
            font-size: 14px;
        }
    }

    &__find {
    }

    &__btnLocation {
    }

    &__btnLogin {
    }

    &__buttonLocation {
        position: relative;

        & img {
            width: 16px;
            left: 10px;
            top: 5px;
            position: absolute;
        }
    }

    &Mobile {
        display: none;
        width: 100%;
        padding: 16px 0px;

        @include tablet {
            display: block;
        }

        &__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;

            & > .headerMobile__burgerMenu,
            & > .buttonLogin {
                margin-right: 8px;
            }

            & > :nth-child(3) {
                margin-left: auto;
                margin-right: auto;
            }

            & > :last-child {
                margin-left: auto;
            }
        }

        &__buttonLogin {
            position: absolute;
            left: 40px;
        }

        &__burgerMenu {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: flex-end;
            width: 24px;
            height: 24px;

            &::before,
            &::after {
                content: "";
                position: absolute;
                height: 2px;
                width: 100%;
                background-color: var(--color-dark);
                transition: all 0.3s ease 0s;
            }

            &::before {
                top: 4px;
            }

            &::after {
                bottom: 4px;
            }

            &.active span {
                transform: scale(0);
            }

            &.active::before {
                top: 50%;
                transform: rotate(-45deg) translate(0, -50%);
            }

            &.active::after {
                bottom: 50%;
                transform: rotate(45deg) translate(0, 50%);
            }

            & span {
                height: 2px;
                width: 100%;
                transform: scale(1);
                background: var(--color-dark);
            }
        }

        &__closeBtn {
            margin-left: 20px;
            margin-top: 20px;
        }

        &__navMenu {
            position: fixed;
            width: 85vw;
            height: 100%;
            left: 0;
            top: 0;
            background: var(--color-bg-alt);
            box-shadow: 5px 5px 15px rgba($color: #000000, $alpha: 0.07);
            z-index: 50;
            transition: transform 0.3s ease-in-out; /* Плавный переход */
            transform: translateX(0); /* Начальная трансформация */

            @include mobile {
                width: 100vw;
            }

            &.hidden {
                transform: translateX(-100%); /* Выезд внутрь экрана */
            }
        }

        &__menuBox {
            display: flex;
            flex-direction: column;
            padding-top: 40px;
            padding-left: 20px;
            padding-right: 20px;
            z-index: 50;
            gap: 10px;

            & li {
                display: flex;
                align-items: center;
                background: var(--color-light);
                z-index: 50;
                padding: 15px 10px;
                color: var(--color-dark);
                border-radius: var(--border-radius-small);

                img {
                    object-fit: contain;
                    padding-right: 10px;

                    @include mobile {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }

        &__overlay {
            display: block;
            position: fixed;
            width: 100vw;
            height: 100vh;
            left: 0;
            top: 0;
            z-index: 0;
            background-color: var(--color-dark);
            opacity: 0.7;
            transition:
                opacity 0.3s ease-in-out,
                visibility 0.3s ease-in-out;

            &.hidden {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}
