.button {
    border-radius: var(--border-radius);
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    fill: var(--color-accent);
    &:focus {
    }

    &__mobile {
        padding: 10px;
        background-color: transparent;
        color: var(--color-text-light-gray);
        border-radius: 50px;
        border: none;

        &.active {
            color: var(--color-light);
            background-color: var(--color-accent);
        }
    }
}
