@import "../../app/styles";

.section {
    display: flex;
    justify-content: center;
}

.wrapper {
    width: var(--container-width);

    @include desktop {
        width: 80%;
    }

    @include tablet {
        width: 80%;
    }

    @include mobile {
        width: 100%;
        padding: 0px 20px;
    }
}
