.button {
    border-radius: var(--border-radius);
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    fill: var(--color-accent);
    &__location {
        min-width: 363px;
        height: 30px;
        border-color: var(--color-gray);
        border: 1px solid lightgray;
    }
}

.header__buttonLocation {
    position: relative;

    & img {
        width: 16px;
        left: 10px;
        top: 5px;
        position: absolute;
    }
}
