.modal {
    padding: 25px;
    border-radius: var(--border-radius);
    background-color: var(--color-light);
    width: 500px;
}

.city {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 5px;
}

.adressFirstLayer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 10px 0px;
}

.adressSecondLayer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    padding: 10px 0px;
}

.adressThirdLayer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    padding: 20px 0px;
}
/* УДАЛИТЬ ИМПУТ ПОТОМ */
.input {
    border-radius: var(--border-radius-small);
    border: 1px solid var(--color-gray);
    height: 40px;
    width: 100%;

    &:focus {
        border: 1px solid var(--color-accent);
        outline: none;
        transition: 0.3s;
    }
}
