@import "../../app/styles/globals/media";

.sets {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 1px;

    &__container {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        gap: 36px;
        padding: 20px 0;

        @include desktop {
            display: flex;
            justify-content: start;
            gap: 12px;
        }

        @include tablet {
            display: flex;
            justify-content: space-evenly;
            gap: 20px;
            padding: 0px;
        }
    }

    @include tablet {
        display: flex;
        justify-content: center;
    }

    &__title {
        padding: 20px 0;

        @include mobile {
            display: flex;
            justify-content: center;
        }
    }

    &__more {
        display: flex;
        justify-content: center;
        padding: 40px 0;

        button {
            padding: 0px 25px;
        }
    }

    &__error {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 40px 0px;

        & img {
            width: 400px;
            height: 400px;
            padding-top: 20px;
        }
    }
}

.skeleton {
    z-index: -1;
    &__card {
        display: flex;
        flex-direction: column;
        width: 262px;
        z-index: -1;
    }

    &__spaceBetween {
        display: flex;
        justify-content: space-between;
    }
}
