@import '../../app/styles';

.sets {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 1px;
    
    &__container {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        gap: 36px;
        padding: 20px 0;

        @include desktop {
            display: flex;
            justify-content: start;
            gap: 12px;
        }

        @include tablet {
            display: flex;
            justify-content: space-evenly;
            gap: 0;
            padding: 0;
        }
    }
    
    @include tablet {
        display: flex;
        justify-content: center;
    }

    &__title {
        padding: 20px 0;

        @include mobile {
            display: flex;
            justify-content: center;
        }
    }

    &__more {
        display: flex;
        justify-content: center;
        padding: 40px 0;

        button {
            padding: 0px 25px;
        }
    }
}